name: V8 Build Test

on:
  push:
    branches:
      - master
      - actions
    paths-ignore:
      - "depot_tools"
      - ".gitignore"
      - ".gitpod*"
  workflow_dispatch:

jobs:
  build-test:
    name: Build V8
    strategy:
      matrix:
        os: [ ubuntu-22.04 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 1

      - name: Git Setup and Cleanup
        shell: bash
        run: |
          git config --global core.autocrlf false
          git config --global core.filemode false
          git config --global core.fscache true
          git config --global core.preloadindex true
          
          git submodule foreach --recursive 'git clean -ffdx'
          git submodule foreach --recursive 'git reset --hard HEAD'

      - name: Restore V8 Cache
        uses: actions/cache@v3
        with:
          path: |
            v8
            .gclient_entries
            .gclient_previous_sync_commits
            .cipd
          key: ${{ runner.os }}:libv8:v8:${{ hashFiles('**/VERSION') }}

      - name: Build V8 for Linux
        if: startsWith(matrix.os, 'ubuntu')
        uses: ./.github/actions/build-linux
        with:
          archive-name: v8_${{ runner.os }}_amd64

      - name: Build V8 for macOS
        if: startsWith(matrix.os, 'macos')
        uses: ./.github/actions/build-macos
        with:
          archive-name: v8_${{ runner.os }}_amd64

      - name: Build V8 for Windows
        if: startsWith(matrix.os, 'windows')
        uses: ./.github/actions/build-windows
        with:
          archive-name: v8_${{ runner.os }}_amd64

      - name: Archive V8 Library
        uses: actions/upload-artifact@v4
        with:
          path: |
            *.tar.xz
            *.7z
          retention-days: 7
